.challengeWidget {
  width: 100%;
  border: 1px solid burlywood;
  background-color: lightgray;
  padding: 5px;
  margin-bottom: 2px;
}

.challengeWidget header {
  display: flex;
  justify-content: space-between;
}

.challengeWidget header .title {
  display: flex;
}

.challengeWidget header .title h2 {
  color: black;
}

.challengeWidget header .title .statusIcon {
  width: 32px;
  height: 32px;
  background-color: aquamarine;
  border-radius: 50%;
  border: 1px solid black;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.challengeWidget .markers {
  width: 100%;
  display: flex;
  flex-flow: row;
  border-radius: 50%;
  justify-content: space-between;
}

.challengeWidget .marker-content {
  display: flex;
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
}

.challengeWidget .markerValue {
  display: flex;
  height: 3rem;
  width: 3rem;
  line-height: 3rem;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid black;
  color: black;
  text-align: center;
  font-size: 1em;
  padding: 8px;
}

.challengeWidget .markerDate {
  display: flex;
  font-size: 1rem;
}

.challengeWidget .currentPeriod {
  display: flex;
  width: 6rem;
  height: 6rem;
  align-items: center;
  border-radius: 60%;
  text-align: center;
  justify-content: center;
  padding: 8px;
}

.challengeWidget .checkmark {
  border-radius: 50%;
  background-color: limegreen;
  position: relative;
  bottom: 30px;
  float: right;
}

.challengeWidget .uncheck {
  border-radius: 50%;
  background-color: red;
  position: relative;
  bottom: 30px;
  float: right;
}
